@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;600&display=swap");

/* COMMON */

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

img { display: block; }

h1, h2, h3 { 
  font-family: 'EB Garamond', serif; 
  text-align: center;
}

h2 {
  font-size: 2.8rem;
  line-height: 3rem;
  color: #222;
  text-align: center;
  margin: 0 auto 1rem;
}

h2.kor {
  font-size: 2.8rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #828282;
  margin: 0 auto 1rem;
}

h2.kor, h3.kor, h4, h5 { 
  font-family: 'Noto Sans KR', sans-serif; 
  text-align: center;
}


h3.kor {
  font-size: 1.3rem;
  line-height: 2.3rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

button {
  margin: 1rem auto;
  padding: 8px 16px;
  font-size: 1rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

button.primary {
  color: #333;
  border: 1px solid #333;
}

button.primary:hover, button.primary:active {
  background: #007ab9;
  border: 1px solid #007ab9;
  color: #fff;
}

button.reverse {
  color: #fff;
  border: 1px solid #fff;
}

button.reverse:hover, button.reverse:active {
  background: #007ab9;
  border: 1px solid #007ab9;
  color: #fff;
}

.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48; }
.material-symbols-outlined.fill {
  color: #990000;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

span { display: inline-block; }

span.tag {
  font-size: 0.9rem;
  border: 1px solid #b1b1b1;
  padding: 0 2px;
  color: #fff;
  background: #b1b1b1;
}

span.prod-name {
  display: block;
  color: #222;
  margin: 8px 0;
}

span.price { color: #000; }

span.tit {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}

span.tit.gray,
span.sub-tit.gray { 
  color: #333;
}

span.sub-tit {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

span.hash {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #fff;
  margin-bottom: 1rem;
}

span.hash.gray { color: #333; }

.like-icon span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.6rem;
}

del { color: #990000; }

.hidden { display: none; }

input {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  outline: none;
  background: transparent;
  padding-left: 10px;
  border: none;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  color: rgb(51, 51, 51);
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}


/* MOBILE */

.mobile-only { display: block; }

.pc-only { display: none; }


header {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
  transition: all .3s ease-in-out; 
}

header.on { background: rgb(51, 51, 51); }
header.on h1 a {
  background: url('../images/logo_wt.png') no-repeat;
  background-position: center center;
  background-size: cover;
}
header.on a.menu { background: rgb(51, 51, 51); } 
header.on a.menu> span {
  background: #fff;
}
header.on .search #openSch a span { color: #fff; }

header> .inner {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  width: 180px;
  height: 40px;
}

header h1 a  {
  width: 100%;
  height: 100%;
  background: url('../images/logo.png') no-repeat;
  background-position: center center;
  background-size: cover;
}

header .header_con {
  display: flex;
  align-items: center;
}

header a.menu {
  order: 1;
  z-index: 40;
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  margin-left: 1rem; 
  border-radius: 50%;
  background: #fff;
}

header a.menu > span{
  position: absolute;
  left: 8px;
  display: block;
  width: 20px;
  height: 2px;
  background: rgb(51, 51, 51);
  transition: all 0.3s;
}

header a.menu > span:nth-of-type(1) { top: 9px; }
header a.menu > span:nth-of-type(2){ top: 16px; }
header a.menu > span:nth-of-type(3){ top: 23px; }

header a.menu.on > span:nth-of-type(1){ 
  top: 10px;
  transform: translateY(7px) rotate(-45deg);
  -webkit-transform: translateY (7px) rotate (-45deg);
  -moz-transform: translateY(7px) rotate(-45deg);
  -o-transform: translateY(7px) rotate(-45deg);
  -ms-transform: translateY(7px) rotate(-45deg); 
}

header a.menu.on > span:nth-of-type(2){ opacity: 0;}

header a.menu.on > span:nth-of-type(3){
  top: 24px; 
  transform: translateY(-7px) rotate(45deg);
  -webkit-transform: translateY(-7px) rotate(45deg);
  -moz-transform: translateY(-7px) rotate(45deg);
  -o-transform: translateY(-7px) rotate(45deg);
  -ms-transform: translateY(-7px) rotate(45deg);
}

header nav .depth2 { display: none; }

header nav .gnb_con {
  z-index: 30;
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  max-width: 480px;
  height: 100%;
  background: #fff;
  padding: 5rem 5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

header nav .gnb_dim-mo {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.36);
  backdrop-filter: blur(8px);
  visibility: visible;
  transition: opacity .8s ease,visibility 0s;
}

header nav .gnb_con .gnb li {
  height: 40px;
  line-height: 40px;
}

header nav .gnb_con .gnb li a {
  position: relative;
  overflow: hidden;
}

header nav .gnb_con .gnb li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 96%;
  height: 2px;
  background: rgba(0, 122, 185, .5);
  opacity: 1;
  transform: translate3d(-110%, 0, 0);
  transition: opacity 700ms, transform 700ms;
}

header nav .gnb_con .gnb li a:active::after,
header nav .gnb_con .gnb li a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

header nav .gnb_con .gnb li a span {
  position: absolute;
  top: 8px;
  right: 0;
}

header nav .gnb_con .event-mo { margin-top: 4rem; }

header nav .gnb_con .event-mo .swiper-slide {
  width: 100%;
  max-width: 480px;
  height: 300px; 
}

header nav .gnb_con .event-mo .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

header .keyword-container { display: none; }

header .search { order: 2; }

header .search #openSch a span { font-size: 1.8rem; }

header .search .searchzone-container {
  z-index: 40;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(247, 247, 247);
  width: 100%;
  overflow: hidden;
}

header .search .searchzone-container .search_inner { margin: 2rem 5%; }

header .search .searchzone-container .search_inner> :first-child {
  width: 100%;
  height: 60px;
  padding: 1rem 0;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(51, 51, 51);
}

header .search .searchzone-container .search_inner> :first-child ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search> :last-child .search_inner> :first-child ul li {
  width: 40px;
  height: 40px;
}

header .search> :last-child .search_inner> :first-child ul li:nth-of-type(1) {
  margin-right: 1rem;
  color: #fff;
  background: rgba(0, 122, 185, .5);
  border-radius: 50%;
}

header .search> :last-child .search_inner> :first-child ul li:nth-of-type(2) {
  color: #fff;
  background: #7e7e7e;
  border-radius: 50%;
}

header .search> :last-child .search_inner> :first-child ul li a span {
  font-size: 2rem;
  line-height: 40px;
  padding-left: 4px;
  text-align: center;
}

header .search> :last-child .search_inner> :last-child section {
  background: #fff;
  margin-bottom: 2rem;
  padding: 1rem 5%;
}

header .search> :last-child .search_inner> :last-child section span.search-tit {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

header .search> :last-child .search_inner> :last-child .hot ul li a { color: #7e7e7e; }

header .search> :last-child .search_inner> :last-child .rec ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .search> :last-child .search_inner> :last-child .rec ul li:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

header .search> :last-child .search_inner> :last-child .rec ul li .search-pic a {
  width: 85px;
  height: 85px;
}

header .search> :last-child .search_inner> :last-child .rec ul li .search-pic a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .search> :last-child .search_inner> :last-child .rec ul li .search-desc { margin-left: 10px; }

header .search> :last-child .search_inner> :last-child .rec ul li .search-desc .search-prod {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
}

header .search> :last-child .search_inner> :last-child .rec ul li .search-desc .search-price {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 10px;
}


footer {
  background: rgb(51, 51, 51);
  color: #b1b1b1;
}

footer .inner { padding: 3rem 5% 6rem; }

footer .f_top .left .low {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer .f_top .left ul.low li { position: relative; }

footer .f_top .left ul.low li:not(:last-child)::after {
  position: absolute;
  top: 7px;
  right: -9px;
  content: '';
  width: 1px;
  height: 10px;
  background: #b1b1b1;
}

footer .f_top .left .cs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .f_top .left .cs .offline { margin-right: 2rem; }

footer .f_top .left .cs .cs-tit,
footer .f_top .left .cs .cs-day { 
  font-size: 0.8rem; 
}

footer .f_top .left .cs .cs-tit strong { font-size: 1rem; }

footer .f_top .left .cs .cs-tel {
  font-size: 1.5rem;
  font-weight: 600;
}

footer .f_top .left .low li:not(:last-child) { margin-right: 1rem; }

footer .f_top .left .low li strong { color: #fff; }

footer .f_top .right { margin: 2rem 0; }

footer .f_top .right .sns {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .f_top .right .sns li:not(:last-child) {
  margin-right: 1rem;
  filter: brightness(0.5);
}

footer .f_top .right .sns li:not(:last-child):hover,
footer .f_top .right .sns li:not(:last-child):active {
  filter: brightness(1);
}

footer .f_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .f_bottom .f_logo {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

footer .f_bottom .f_logo span { transform: rotate(0); }

footer .f_bottom .f_logo.on span { transform: rotate(180deg); }

footer .f_bottom address {
  font-style: normal;
}

footer .f_bottom address ul {
  display: none;
  background: rgb(238, 238, 238);
  padding: 1rem 0;
  border-radius: 10px;
  color: #222;
}

footer .f_bottom address .copy {
  font-size: 0.9rem;
  margin-top: 2rem;
}


/* LAPTOP */
@media screen and (min-width: 1200px) {


  .mobile-only { display: none; }
  
  .pc-only { display: block; }

  .high {
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  .high> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .high> :first-child .left {
    position: relative;
    font-family: 'EB Garamond', serif; 
    color: #fff;
    background: rgb(0, 122, 185);
    line-height: 44px;
    padding: 0 42px 0 22px;
    border-bottom: 1px solid #eee;
  }
  
  .high> :first-child .left::after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 44px solid transparent;
    border-right: 22px solid #fff;
  }
  
  .high> :first-child .right {
    font-family: 'EB Garamond', serif;
    color: #b1b1b1;
    padding-left: 14px;
    line-height: 44px;
  }
  
  .high> :last-child {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }
  
  .high> :last-child ul.snb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .high ul.snb li { position: relative; }
  
  .high ul.snb li:not(:last-child) { margin-right: 14px; }
  
  .high ul.snb li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -8px;
    width: 1px;
    height: 12px;
    background: #7e7e7e;
  }
  
  .high ul.snb li a {
    font-size: 0.9rem;
    color: #7e7e7e;
  }
  
  .high ul.snb li:hover a {
    color: #333;
  }
  
  .high .coupon {
    position: absolute;
    top: 30px;
    right: 120px;
    padding: 4px;
    font-size: 12px;
    font-weight: lighter;
    background: #222;
    color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  }


  header {
    top: 44px;
    height: 100px;
  }
  
  header> .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    justify-content: flex-start;
  }

  header h1 a {
    background-size: contain;
  }
  
  header .header_con  {
    width: 100%;
    justify-content: space-between;
  }
  
  header nav {  order: 0; }
  
  header a.menu {
    order: 0;
    margin-left: 3rem;
    background: rgba(0, 122, 185, .5);
  }
  
  header a.menu > span{ background: #fff; }
  
  header nav .gnb_con {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
  }

  header nav ul.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul.gnb .depth1 {
    margin-right: 2rem;
    text-transform: uppercase;
  }
  
  header nav ul.gnb .depth1 a {
    font-weight: 600;
    transition: .3s;
  }
  
  header nav ul.gnb .depth1:hover a { color: rgb(0, 122, 185); }
  
  header nav .depth2 {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  }
  
  header nav .depth2 .depth2_inner {
    width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav .depth2 .special li {
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-bottom: .5rem;
  }
  
  header nav .depth2 .special li a {
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header nav .depth2 .special li:nth-of-type(1),
  header nav .depth2 .special li:nth-of-type(2),
  header nav .depth2 .special li:nth-of-type(3) {
    color: #fff;
    background: rgb(153, 0, 0);
  }
  
  header nav .depth2 .special li:nth-of-type(4),
  header nav .depth2 .special li:nth-of-type(5) {
    color: #fff;
    background: rgb(51, 51, 51);
  }
  
  header nav .depth2 .depth3 {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    width: 100%;
    margin-left: 2rem;
    text-align: center;
  }
  
  header nav .depth2 .depth3> li { width: calc(100%/7);}
  
  header nav .depth2 .depth3> li:not(:last-child) { margin-right: 10px; }
  
  header nav .depth2 .depth3> li> a {
    line-height: 40px;
    font-weight: bolder;
  }
  
  header nav .depth2 .depth3> li> a:not(:last-child) { border-bottom: 1px solid rgb(0, 122, 185); }
  
  header nav .depth2 .depth3> li ul.sub li { line-height: 30px; }
  
  header nav .depth2 .depth3> li ul.sub li a { padding: 0 4px; }
  
  header nav .depth2 .depth3> li ul.sub li:hover a {
    background: rgb(0, 122, 185);
    color: #fff;
  }

  header .right_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .keyword-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 250px;
    border: 1px solid #eee;
    border-radius: 20px;
    margin-right: 1rem;
  }
  
  header .keyword-container .key-tit {
    width: 60%;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 40px;
    color: #646464;
    border-right: 1px solid #eee;
    text-align: center;
  }
  
  header .keyword-container .swiper-container {
    width: 40%;
    height: 40px;
    text-align: center;
    overflow: hidden;
  }
  
  header .keyword-container .swiper-slide {
    height: 40px;
    line-height: 40px;
  }
  
  header .keyword-container .swiper-slide a {
    font-size: 0.9rem;
    color: rgb(51, 51, 51);
  }
  
  header .search> :first-child span {
    font-size: 2rem;
    color: rgb(0, 122, 185);
  }
  
  header .search .searchzone-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
  }

  header .search .searchzone-container .search_inner { margin: 2rem auto; }
  
  header .search> :last-child .search_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 80vh;
    background: transparent;
  }
  
  header .search> :last-child .search_inner> :first-child { margin: 6rem 0 3rem; }
  
  header .search> :last-child .search_inner> :first-child input {
    width: 1000px;
    height: 100%;
  }
  
  header .search> :last-child .search_inner> :first-child ul { width: 200px; }
  
  header .search> :last-child .search_inner> :first-child ul li {
    width: 42px;
    height: 42px;
  }
  
  header .search> :last-child .search_inner> :first-child ul li a span { line-height: 42px; }
  
  header .search> :last-child .search_inner> :last-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  header .search> :last-child .search_inner> :last-child section {
    height: 400px;
    padding: 2rem 10%;
    margin-bottom: 0;
  }
  
  header .search> :last-child .search_inner> :last-child section span.search-tit {
    margin-bottom: 2rem;
  }
  
  header .search> :last-child .search_inner> :last-child .hot ul li {
    line-height: 2.2rem;
    opacity: 0;
  }
  
  header .search> :last-child .search_inner> :last-child .hot ul li a strong { margin-right: 1rem; }


  footer .inner {
    width: 1200px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  footer .f_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 3rem;
  }
  
  footer .f_top .left ul.low { font-size: 1rem; }  
  
  footer .f_top .left .cs {
    margin-top: 3rem;
    justify-content: start;
    align-items: baseline;
    text-align: left;
  }
  
  footer .f_top .right ul.sns li:not(:last-child) { margin-right: 1rem; }
  
  footer .f_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer .f_bottom .f_logo { margin: 0; }
  
  footer .f_bottom address {
    font-style: normal;
    font-size: 0.9rem;
  }
  
  footer .f_bottom address ul {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    background: transparent;
    color: #b1b1b1;
    padding: 0;
  }
  
  footer .f_bottom address ul li {
    font-size: 1rem;
    margin-right: 1rem;
  }

  footer .f_bottom address .copy {
    font-size: 1rem;
    margin-top: 0;
    text-align: left;
  }
  
  footer .f_bottom .inicis a img {
    width: 42px;
    height: 42px;
  }

  footer .f_bottom .inicis { display: block; }


}