/* MOBILE */

.faq {
  padding: 120px 5% 3rem;
  overflow: hidden;
}

.faq .inner {  padding: 2rem 0; }

.faq .desc { 
  text-align: center;
  color: #828282; 
}

.faq .faq-list__tab.mo {
  position: relative;
  background: rgb(250, 250, 250);
  height: 50px;
}

.faq .faq-list__tab.mo .faq-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #333;
}

.faq .faq-list__tab.mo span {
  position: absolute;
  top: 13px;
  right: 5%;
  transform: rotate(0);
}

.faq .faq-list__tab.mo span.on { transform: rotate(180deg); }

.faq .faq-list__tab.pc { display: none; }

.faq .faq-list__tab.mo.active .faq-list li { display: block; }

.faq .faq-list__tab.mo .faq-list li {
  display: none;
  height: 30px;
  line-height: 30px;
  padding: 10px 5%;
}

.faq .faq-list__tab.mo .faq-list li.on { display: block; }

.faq .faq-list__tab.mo .faq-list li:hover,
.faq .faq-list__tab.mo .faq-list li:active {
  background: rgba(0, 122, 185, .5);
  color: #fff;
}

.faq .list__basic { margin: 2rem 0; }

.faq .list__basic .list__basic__con {
  display: none;
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
} 

.faq .list__basic .list__basic__con.on { display: block; }

.faq .list__basic .list__basic__info {
  padding: 8px 5%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.faq .list__basic .list__basic__info:not(:first-child) { border-top: 1px solid #ddd; }

.faq .list__basic .list__basic__detail {
  display: none;
  background: rgb(250, 250, 250);
  padding: 1rem 5%;
}

.faq .list__basic .list__basic__detail.on { display: block; }

.faq .list__basic .list__basic__detail> a { display: inline; }

.faq .paging-sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq .paging-sub a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

.faq .paging-sub a.on {
  background: rgba(51, 51, 51, .3);
  font-weight: 600;
}


/* LAPTOP */
@media screen and (min-width: 1200px) {


  .faq { padding: 200px 0 2rem; }

  .faq .inner {
    width: 1200px;
    margin: 2rem auto;
  }

  .faq .faq-list__tab.mo { display: none; }

  .faq .faq-list__tab.pc { display: block; }

  .faq .faq-list {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #333;
  }

  .faq .faq-list li {
    width: calc(1000px/7);
    height: 100px;
    padding: 10px 0 5px;
    text-align: center;
  }

  .faq .faq-list li:not(:last-child) { border-right: 1px solid #333; }

  .faq .faq-list li.on {
    background: rgba(51, 51, 51, .3);
    color: #fff;
  }

  .faq .faq-list> :nth-child(1) a {
    background: url('../images/faq/ico_member.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(1).on a {
    background: url('../images/faq/ico_member_on.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(2) a {
    background: url('../images/faq/ico_order.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(2).on a {
    background: url('../images/faq/ico_order_on.png') no-repeat;
    background-position: center center;
  }
  
  .faq .faq-list> :nth-child(3) a {
    background: url('../images/faq/ico_pay.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(3).on a {
    background: url('../images/faq/ico_pay_on.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(4) a {
    background: url('../images/faq/ico_delivery.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(4).on a {
    background: url('../images/faq/ico_delivery_on.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(5) a {
    background: url('../images/faq/ico_product_faq.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(5).on a {
    background: url('../images/faq/ico_product_faq_on.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(6) a {
    background: url('../images/faq/ico_as.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(6).on a {
    background: url('../images/faq/ico_as_on.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(7) a {
    background: url('../images/faq/ico_etc.png') no-repeat;
    background-position: center center;
  }

  .faq .faq-list> :nth-child(7).on a {
    background: url('../images/faq/ico_etc_on.png') no-repeat;
    background-position: center center;
  }

  .faq .list__basic { margin: 3rem 0; }



}