/* MOBILE */

.signup {
  padding: 120px 5% 3rem;
  overflow: hidden;
}

.signup .desc {
  text-align: center;
  color: #828282;
}

.signup .inner { padding: 2rem 0 0; }

.signup input {
  font-size: 1rem;
  padding: 6px 12px;
}

.signup button {
  display: block;
  width: 100%;
  max-width: 480px;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}

.signup form { 
  padding: 2rem 0; 
  margin-bottom: 4rem;
}

.signup .sign_flow {
  margin: 2rem 0;
}

.signup .sign_flow ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .sign_flow ul li.on {
  color: rgb(0, 122, 185);
  font-weight: 600;
}

.signup .sign_flow ul li .line {
  width: 50px;
  height: 2px;
  margin: 0 1rem;
  background: rgba(51, 51, 51, .3);
  vertical-align: middle;
}

.signup form .agree__tit {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.signup form .scroll-area> div { margin: 2rem 0; }

.signup form .scroll-area .box__scroll {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #333;
  padding: 1rem 5%;
  background: rgb(250, 250, 250);
}

.signup form .radio-area {
  margin: 1rem 0;
  text-align: center;
}

.signup form .radio-area .radio-btn { margin: 1rem 0; }

.signup form .box__info__agree .list__etc {
  border: 1px solid #333;
  background: rgb(250, 250, 250);
  margin-bottom: 1rem;
}

.signup form .box__info__agree .list__etc .list__tit { font-weight: 600; }

.signup form .box__info__agree .list__etc .list__desc {
  font-size: 0.9rem;
  color: #828282;
}

.signup form .box__info__agree .list__etc ul li { padding: 10px 5%; }

.signup form .box__info__agree .list__etc ul li:not(:last-child) { border-bottom: 1px solid #333; }

.signup form .box__info__agree .agree__subtit { font-size: 0.8rem; }

.signup form .box__info__agree--bg {
  background: #eee;
  padding: 1rem 5%;
  text-align: center;
}

.signup form .caution--center {
  text-align: center;
  margin: 1rem 0;
}

.signup form button.primary { max-width: 480px; }

.signup form .join-form {
  max-width: 500px;
  margin: 0 auto;
}

.signup form dl {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.signup form dt {
  font-weight: 600;
  color: #333;
  width: 25%;
}

.signup form .req-required {
  color: rgb(250, 100, 100);
  vertical-align: middle;
}

.signup form dd { 
  padding: 8px 0;
  width: 75%;
}

.signup form dd input[type=text],
.signup form dd input[type=password] {
  border: 1px solid #ddd;
  width: 90%;
}

.signup form .txt-guide {
  font-size: 14px;
  color: #828282;
  margin: 8px 0;
}

.signup form .join-form .pwval-wrap {
  position: relative;
}

.signup form .join-form .pwval-check {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #828282;
  margin: 8px 0;
}

.signup form .join-form .pwval-check li {
  position: relative;
  margin: 0 4px 0 20px;
}

.signup form .join-form .pwval-check li::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -20px;
  background: url('../images/sign/ic_check.png') no-repeat;
}

.signup form dd button.pwval-tog {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: 10px;
  border: none;
  background: url('../images/sign/icon_pw_off.png') no-repeat;
  background-position: center center;
  background-size: contain;
}

.signup form dd button.pwval-tog.show {
  width: 30px;
  height: 30px;
  background: url('../images/sign/ic_show.png') no-repeat;
  background-position: center center;
  background-size: contain;
}


.signup form .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.signup .member--done {
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
}

.signup .member--done .member--done_text {
  padding: 1rem 0;
}

.signup .member--done .member--done_text img {
  width: 100px;
  height: 100px;
  margin: 1rem auto;
}



/* LAPTOP */

@media screen and (min-width: 1200px) {


  .signup { padding: 200px 0 2rem; }

  .signup form {
    width: 1200px;
    margin: 0 auto;
  }

  .signup form .scroll-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  .signup form .scroll-area> div { margin: 2rem 0; }

  .signup form .box__info__agree .list__etc ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .signup form .box__info__agree .list__etc .list__tit { margin-bottom: 1rem; }

  .signup form .box__info__agree .list__etc ul li:not(:last-child) {
    border-bottom: 0;
    border-right: 1px solid #333;
  }

  .signup form .box__info__agree .agree__subtit { text-align: center; }

  .signup form .box__info__agree--bg,
  .signup form .caution--center {
    margin: 2rem 0;
  }


}