/* MOBILE */

.signin {
  padding: 120px 5% 3rem;
  overflow: hidden;
}

.signin .desc {
  text-align: center;
  color: #828282;
}

.signin .inner { padding: 2rem 0; }

.signin .banner { margin-bottom: 1rem; }

.signin .banner a img {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 320px;
  margin: 0 auto;
  object-fit: cover;
}

.signin input {
  font-size: 1rem;
  padding: 6px 12px;
}

.signin button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #007ab9;
  color: #007ab9;
  text-align: center;
}

.signin .membership-container {
  max-width: 480px;
  margin: 0 auto;
}

.signin .membership-container form { margin: 3rem 0; }

.signin .membership-container dt { display: none; }

.signin .membership-container dl { margin: 1rem 0; }

.signin .membership-container dl dd { border: 1px solid #333; }

.signin .membership-container .sns_login> :first-child {
  padding: 10px 20px;
  border: 1px solid #19c260;
  background: #19c260;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.signin .membership-container .sns_login> :first-child .ico {
  background: url('../images/sign/ico_mo_naver.png') no-repeat;
  background-position: center center;
  background-size: cover;
}

.signin .membership-container .sns_login> :last-child {
  padding: 10px 20px;
  border: 1px solid #fee102;
  background: #fee102;
  color: #333;
  border-radius: 20px;
}

.signin .membership-container .sns_login> :last-child .ico {
  background: url('../images/sign/ico_mo_kakao.png') no-repeat;
  background-position: center center;
  background-size: cover;
}

.signin .membership-container .sns_login .link_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin .membership-container .sns_login .link_btn .ico {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.signin .membership-container .login_find {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.signin .membership-container .login_find> li { position: relative; }

.signin .membership-container .login_find> li:not(:last-child) {
  margin-right: 1rem;
  font-weight: bold;
}

.signin .membership-container .login_find> li:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 14px;
  background: #333;
  position: absolute;
  top: 6px;
  right: -8px;
}

.signin .membership-container .guest_order { margin: 2rem 0; }

.signin .membership-container .guest_order .guest_txt strong {
  font-size: 1.1rem;
  font-weight: bold;
}

.signin .membership-container .guest_order .guest_txt span {
  font-size: 0.9rem;
  color: #828282;
}


/* LAPTOP */
@media screen and (min-width: 1200px) {

  .signin { padding: 200px 0 2rem; }

}